# File created to store robot test results and screenshots
robot_tests_results/
robot_tests_results/*
screenshots/

# Robot Framework File Ignore
*tmp*
*.pyc
*$py.class
.DS_Store
*log*.html
*report*.html
*output*.xml
*.log
*selenium-screenshot-*.png
*.zip
